
DB_HOST=db
DB_USER=iven_user
DB_PASSWORD=IvenSecureDB2024!
DB_NAME=ivendb
DB_ROOT_PASSWORD=IvenRootSecure2024! # Mot de passe root

# Configuration JWT
JWT_SECRET=9ce8c8e5794035ef083c3184121c0716f98808523f6e08aced1d89dc86cd7aca5a1b7ef6c50575c1af2490b493a276ee65d5ccc906966beee71315f41efb5f00

# Configuration MongoDB (utiliser le service docker 'mongo')
MONGO_URI=mongodb://mongo:27017/ivendb


FRONTEND_URL=http://localhost:5173


SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=arthurjfr.dev@gmail.com
SMTP_PASSWORD=tajliozkqifmpzwj
SMTP_FROM=arthurjfr.dev@gmail.com

# Configuration du serveur
PORT=3000
NODE_ENV=production
