
DB_HOST=db
DB_USER=
DB_PASSWORD=
DB_NAME=dbname
DB_ROOT_PASSWORD= # Mot de passe root

# Configuration JWT
JWT_SECRET=

# Configuration MongoDB (utiliser le service docker 'mongo')
MONGO_URI=mongodb://mongo:27017/dbname


FRONTEND_URL=http://localhost:5173


SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=example@gmail.com
SMTP_PASSWORD=
SMTP_FROM=example@gmail.com

# Configuration du serveur
PORT=
NODE_ENV=production
